.card-list-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 50px;
}
@media (min-width: 567px) {
  .card-list-container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .card-list-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .card-list-container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .card-list-container {
    width: 1185px;
  }
}
@media (min-width: 1400px) {
  .card-list-container {
    width: 1385px;
  }
}
