.search--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 30px;
}
.search--container input {
  display: inline-block;
  width: 280px;
  padding: 12px;
}
.search--container input::placeholder {
  text-transform: capitalize;
  color: #333;
}
