.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
input.search-box {
  display: inline-block;
  width: 230px;
  padding: 8px 10px;
}
input.search-box::placeholder {
  text-transform: capitalize;
}
